
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
  }

  .nav-line{
    border-bottom: .5px solid #b4b4b42f;
    height: 81px;
    width: 100%;
    position: fixed;
    z-index: 5;
  }

  nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 1400px;
      height: 80px;
      position: fixed;
      z-index: 5;
      padding: 0 1.5rem;
      overflow: hidden;
      left: 50%;
      transform: translate(-50%, 0);
      background-color: white;

  }

  .nav-logo {
    /* height: 100%; */
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight:600;
    color: rgb(43, 81, 146);
  }

  .nav-logo #logo{
      font-size: 34px;
      margin-top: 10px;
  }

  nav a {
      text-decoration: none;
  }

  .nav-links {
    display: flex;
  }

  .nav-links Button {
      margin-left: 10px;
  }

  .nav-links .bars{
    display: none;
  }


  .nav-menu{
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
  }

  .nav-menu > div{
    background-color: rgb(64, 95, 148);
    width: 200vw;
    height: 200vh;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: translate(100%);
    transition: all 0.4s ease;
  }

  .nav-menu > div > div{
        text-align: left;
        max-width: 90vw;
        max-height: 100vh;
        margin-bottom: 7rem;
  }

  .nav-menu ul, .nav-menu ul li *{
    list-style-type: none;
    font-size: 1.3rem;
    font-weight: 300;
    color: white;
    text-decoration: none;
  }

  .nav-menu ul li{
      margin: 40px 0;
      padding: 5px 0;
  }

  .nav-menu ul li:hover, .nav-menu ul li *:hover{
    color: rgba(255, 255, 255, 0.829);
    cursor: pointer;
}

.nav-menu .menu-icons{
    padding-top: 1px;
    transform: translate(-2px, 2px);
}

  .nav-menu.menu-on{
    visibility: visible;
  }

  .nav-menu.menu-on > div {
    transform: translate(0,0);
}


  

  .search-bar{
      height: 33px;
  }

  .search-bar input {
      height: 33px;
      width: 250px;
      vertical-align: middle;
      border: 1px solid rgb(201, 201, 201);
      border-radius: 6% 0 0 6%;
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.171);
      padding: 10px;
      outline: none;
  }

  .search-bar button{
        height: 33px;
        width: 33px;
        vertical-align: middle;
        color: rgb(153, 153, 153);
        background-color: white;
        outline: none;
        border: none;
        cursor: pointer;
        white-space: nowrap;
        border-bottom: 1px solid rgb(201, 201, 201);
        border-top: 1px solid rgb(201, 201, 201);
        border-right: 1px solid rgb(201, 201, 201);
        border-radius: 0% 6% 6% 0%;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.171);
  }
  .search-bar button *{
    /* height: 19px; */
    font-size: 15px;
    margin-top: 3px;
}

.account{
    font-size: 33px;
    color: rgb(43, 81, 146);
    margin-right: 5px;
    margin-top: 8px;
    transition: all .2s ease-in-out;

}

.account:hover{
    cursor: pointer;
    color: rgb(53, 102, 187);
}


.dropbtn {
    background-color: #ffffff;
    color: rgb(115, 115, 115);
    /* padding: 8px 10px; */
    height: 30px;
    width: 100px;
    font-size: 13px;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 6% 0 0 6%;
    cursor: pointer;
    transition: all 0.3s ease-out;
    border-radius: 4px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.171);
  }
  
  .dropbtn:hover, .dropbtn:focus {
    opacity: .9;
    outline: none;
    transition: all 0.3s ease-out;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: rgb(59, 59, 59);
    padding: 2px 0 2px 0;
    font-size: 14px;
  }

  .dropdown-content div{
      padding: 0 5px 0 5px
  }

  .dropdown-content div:hover{
      background-color: #e6e6e6;
      cursor: default;
  }

.financial-page{
    padding-top: 100px;
    margin-left: 20px;
    margin-right: 20px;

}

.loading-container {
    margin: 20px auto;
    width: 10px;
}

.graph-container{
    padding: 10px 40px 40px 40px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.graph-add{
    font-size: 15px;
    margin-left: 10px;
    font-weight: normal;
    color: rgb(43, 81, 146);
}

.graph-add:hover{
    cursor: pointer;
    color: rgb(53, 102, 187);
}

.graph-remove{
    font-size: 15px;
    margin-left: 10px;
    font-weight: normal;
    color: rgb(43, 81, 146);
}

.graph-remove:hover{
    cursor: pointer;
    color: rgb(255, 99, 132);
}

.graph-follow-icon{
    transform: translate(-1px, 3px);
}

.graph-container h2{
    margin-bottom: 5px;
}

.graph-container h4{
    color: rgb(115, 115, 115);
    margin-bottom: 25px;
    font-weight: 400;
}

/* hero section */

  .hero {
      display: grid;
      grid-template-columns: 40% 65%;
      height: 100vh;
      align-items: center;
      padding: 0rem calc((100vw - 1400px) / 2);
      position: relative;
      overflow-x: hidden;
      z-index: 1;
  }

  .hero h1 {
      padding-bottom: 1rem;
      font-size: clamp(1.7rem, 4vw, 3rem);
  }

  .hero h2{
      padding-bottom: 1rem;
      font-size: clamp(1.7rem, 3vw, 3rem);
  }

  .hero p {
      padding-bottom: 2rem;
      font-size: clamp(.95rem,1vw, 2rem);
      line-height: 1.5;
  }

  

  .hero #account-link {
      text-decoration: none;
      color: rgb(43, 95, 155);
      padding-top: 10px;
  }

  .hero .double-arrows {
      transform: translate(0, .2rem);
  }

  .left-column {
      /* border: 1px solid red; */
      margin-left: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      min-height: 700px;
      position: relative;
      /* background-color: teal; */
  }

  .right-column {
        position: relative;
        margin-right: 1rem;
  }

  #hero-logo-img{
      width: 100%;
  }

  #hero-logo-img2{
    width: 90%;
    padding-left: 40px;
}

  .about-container p{
      padding-right: 15px;
  }

  .about-container .right-column2 {
    position: relative;
}

.portfolio-container{
    max-width: 1000px;
    padding: 100px 1.5rem;
    /* background-color: red; */
    margin: 0 auto;
    z-index: 1;
}

.portfolio-container2{
    padding: 100px 1.5rem;
    max-width: 1400px;
    margin: 0 auto;
    z-index: 1;
}

.portfolio-container h2{
    margin: 0 0px 30px 0;
}

#portfolio-login{
    color: rgb(43, 95, 155);
}

#portfolio-login:hover{
    cursor: pointer;
}

table {
    table-layout:auto;
    width: 100%;
    max-width: 1000px;
    /* margin: auto; */
    border-collapse: collapse;
}

th{
    font-size: 1.13rem;
    font-weight: 600;
    padding: 10px 7px 0 0;
    border-bottom: 1px solid rgba(201, 201, 201, 0.445);
    text-align: left;
}

td{
    padding-top: 8px;
}

.td-click:hover{
    cursor: pointer;
}

.remove-link{
    color: rgba(255, 0, 0, 0.5);
    font-size: .8rem;
    text-align: center;
    transition: all .4s ease-in-out;
}

.remove-link:hover{
    cursor: pointer;
    color: rgba(255, 0, 0, 0.781);
    transition: all .4s ease-in-out;
}

.remove-link-x{
    position:absolute;
    transform: translate(-15px, 1px);
}



  @media screen and (max-width: 768px){
    .nav-logo .logo-text{
       display: none;
      }
    
    
    .hero {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr
    }

    .nav-links Button {
        display: none;
    }

    .nav-links .bars{
        display: none;
        width: 27px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

    .nav-links .bars:hover{
        cursor: pointer;
    }

    .nav-links .bars > div{
        position: relative;
        flex: none;
        width: 100%;
        height: 2px;
        background-color: rgb(43, 81, 146);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s;
    }

    .nav-links .bars > div::before,
    .nav-links .bars > div::after{
        content: '';
        position: absolute;
        z-index: 2;
        top: -9px;
        width: 100%;
        height: 2px;
        background-color: rgb(43, 81, 146);
    }
    
    /* Moves Lines down */
    .nav-links .bars > div::after{
        top: 9px;
    }

    /* Toggler Animation */
    .nav-links .bars.menu-on > div {
        transform: rotate(135deg);
    }

    /* Turns lines into X */
    .nav-links .bars.menu-on > div::before,
    .nav-links .bars.menu-on > div::after{
        top: 0;
        transform: rotate(90deg);
    }

    /* Rotate on Hover When Checked */
    .nav-links .bars.menu-on:hover > div {
        transform: rotate(225deg);
    }

    .about-container p{
        padding-right: 0px;
    }

    .graph-container{
        padding: 10px 4px 40px 0px;
    }


  .left-column {
    min-height: 300px;
    align-items: center;
    margin: 7rem 2rem 0rem 2rem;
    text-align: center;
    }

    .about-container .right-column2 {
        margin-top: 45px;
    }

    table {
        font-size: .8rem;
    }

    .remove-link-text{
        display: none;
    }
    .remove-link-x{
        font-size: 1rem;
    }

    .remove-link-x{
        position:absolute;
        transform: translate(0,-7px);
    }

    td{
        padding-top: 8px;
        padding-left: 8px;
    }

    th{
        font-size: .95rem;
    }

}

@media screen and (max-width: 480px){

    nav{
        padding: 0 .5rem;
    }

    .search-bar input {
        height: 33px;
        width: 185px;
    }

}

